.page-takeover-clear {
    clear: both;
}

#page-takeover {
    margin: 15px 15px 0 0;
}

    /* toggles */
    #page-takeover a:link,
    #page-takeover a:visited {
        color: #21759b;
        text-decoration: none;
    }

/**
 * Preview
 */
.page-takeover-container-left {
    display: block;
    float: left;
    width: 60%;
    position: relative;
}

    .page-takeover {
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
        font-size: 15px;
    }

        .page-takeover-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }

            .page-takeover-overlay {
                text-align: center;
            }
    
            .page-takeover-close-button {
                position: absolute;
                top: 2%;
                right: 5%;
                background: url(../images/ui-close.png) no-repeat;
                width: 13px;
                height: 13px;
                z-index: 10;
                cursor: pointer;
                margin: 2% 0 0;
                background-size: 13px;
            }


            .page-takeover-title {
                display: block;
                text-align: center;
                color: #ffffff;
                margin: 0 0 40px;
                font-size: 3em;
                line-height: 1.5em;
                font-weight: 700;
                letter-spacing: 0;
            }

            .page-takeover-subtitle {
                font-size: 1.4em;
                line-height: 1.6em;
                color: #ffffff;
                margin: 0 0 30px;
                letter-spacing: 0;
            }

                .page-takeover-subtitle p {
                    font-size: inherit;
                }

            

            .page-takeover-button {
                margin-bottom: 30px;
            }

                #page-takeover-button a {
                    border: inherit;
                    color: inherit!important;
                    font-size: inherit;
                    font-weight: inherit;
                    outline: inherit;
                    box-shadow: none!important;
                    text-shadow: none!important;
                    text-transform: none!important;
                    width: auto;
                    background: #fec230;
                    color: #fff;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 1.5em;
                    line-height: 1.9em;    
                    font-weight: 700;
                    padding: 6px 30px !important;
                    border: 0 !important;
                    letter-spacing: 0;
                    display: inline-block;
                }

            .page-takeover-decline {
                font-size: 1em;
                line-height: 1.4em;
                color: #3b6a57;
                margin: 0 auto;
                margin-bottom: 30px;
                display: table;
                width: auto;
                cursor: pointer;
                letter-spacing: 0;
            }


/**
 * Options
 */

.page-takeover-container-right {
    display: inline;
    float: left;
    width: 38%;
    margin: 0 0 0 2%;
}

    .page-takeover-admin-note {
        padding: 10px;
        background: rgba( 255, 0, 0, 0.1);
        margin-top: 10px;
    }

    /* toggle trigger */
    .trigger a {
        display: block;
        text-decoration: none;
        font-weight: 400;
        color: #fff;
        -webkit-transition-duration: 0;
        -moz-transition-duration: 0;
        -o-transition-duration: 0;
        background: #2474af;
        font-size: 13px;
        text-align: left;
        margin-bottom: 2px;
        padding: 10px 15px;
        letter-spacing: 0.5px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .trigger a:hover {
        background: #206598;
    }

    .trigger a:active,
    .trigger {
        cursor: pointer;
    }

    .trigger.active a,
    .trigger-button.active {
        background: #4394cf;
    }

    /* toggle content */

    .toggle-container {
        overflow: hidden;
        background: #fff;
        margin: 0;
        padding: 15px;
    }

        .page-takeover-option-group {
            color: #222;
            display: block;
            padding: 0;
            margin: 0 0 5px;
            cursor: default;
        }

        /* options */

        .page-takeover-option-wide {
            display: block;
            float: none;
            width: 100%;
            margin: 0 0 20px 0;
            text-align: left;
        }

            #page-takeover .page-takeover-container-right label {
                display: block;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .page-takeover-input-text {
                width: 100%!important;
                padding: 5px!important;
                box-sizing: border-box;
            }

            .page-takeover-select-font {
                width: 100%!important;
                height: 100%!important;
                padding: 5px!important;
                box-sizing: border-box;
            }
            
            .page-takeover-select-option {
                width: 100%!important;
                height: 100%!important;
                padding: 5px!important;
                box-sizing: border-box;
            }
            
         
            
            .page-takeover-dialog {
                position: absolute!important;
                width: 100%!important;
                height: 100%!important;
                left: 0!important;
                top: 0!important;
                overflow: hidden!important;
                z-index: 9999!important;
            }
            
            .wp-picker-input-wrap input {
                margin-left: 6px;
            }
            
            .wp-picker-container .button {
                margin-left: 0!important;
            }
            
            .wp-picker-container input.wp-color-picker[type="text"] {
                width: none!important;
            }
            
            #page-takeover-subtitle-inner > ul {
                list-style: outside;
            }

    /* Save */
    .page-takeover-save-container {
        margin: 0;
        padding: 15px 15px 15px 0;
    }

        .page-takeover-save-button {
            background: #1da87d;
            border: 0 none!important;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            float: left;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 0.5px;
            line-height: 20px;
            margin: 0;
            padding: 10px 20px!important;
            text-align: center;
            text-transform: uppercase;
        }

        .page-takeover-save-button:hover {
            background: #222!important;
        }